[Desktop Entry]
Type=AkonadiSearchPlugin
Name=Akonadi Baloo Search Plugin
Name[de]=Akonadi-Suchmodul für Baloo
Name[nl]=Akonadi-plug-in voor Baloo zoeken
Name[pt]=Agente de Pesquisa do Baloo no Akonadi
Name[sv]=Akonadi Baloo-sökinsticksprogram
Name[uk]=Агент пошуку Baloo для Akonadi
Name[x-test]=xxAkonadi Baloo Search Pluginxx
X-Akonadi-Library=akonadi_baloo_searchplugin
X-Akonadi-ClassName=SearchPlugin
X-Akonadi-LoadByDefault=true
