[Desktop Entry]
Type=AkonadiSearchPlugin
Name=Akonadi Baloo Search Plugin
Name[ca]=Connector de cerca Baloo de l'Akonadi
Name[ca@valencia]=Connector de cerca Baloo de l'Akonadi
Name[da]=Akonadi-søgeplugin til Baloo
Name[de]=Akonadi-Suchmodul für Baloo
Name[el]=Πράκτορας αναζήτησης Baloo Akonadi
Name[es]=Agente de búsqueda Baloo de Akonadi
Name[et]=Akonadi Baloo otsingu plugin
Name[fi]=Akonadin Baloo-hakuliitännäinen
Name[fr]=Module de recherche Baloo pour Akonadi
Name[hu]=Akonadi Baloo keresés bővítmény
Name[ia]=Plugin de cerca de Baloo de Akonadi
Name[it]=Estensione di ricerca Baloo di Akonadi
Name[ko]=Akonadi Baloo 검색 플러그인
Name[lt]=Akonadi Baloo paieškos priedas
Name[nb]=Akonadi Baloo søketillegg
Name[nds]=Akonadi-Baloo-Söökmoduul
Name[nl]=Akonadi-plug-in voor Baloo zoeken
Name[pl]=Wtyczka znajdywania Baloo dla Akonadi
Name[pt]=Agente de Pesquisa do Baloo no Akonadi
Name[pt_BR]=Plugin de pesquisa do Baloo no Akonadi
Name[ru]=Модуль Baloo для поиска по базе данных Akonadi
Name[sk]=Plugin hľadania Akonadi Baloo
Name[sl]=Akonadijev vstavek za iskanje, Baloo
Name[sr]=Балуов прикључак претраге над Аконадијем
Name[sr@ijekavian]=Балуов прикључак претраге над Аконадијем
Name[sr@ijekavianlatin]=Balooov priključak pretrage nad Akonadijem
Name[sr@latin]=Balooov priključak pretrage nad Akonadijem
Name[sv]=Akonadi Baloo-sökinsticksprogram
Name[tr]=Akonadi Baloo Arama Eklentisi
Name[uk]=Агент пошуку Baloo для Akonadi
Name[x-test]=xxAkonadi Baloo Search Pluginxx
Name[zh_CN]=Akonadi Baloo 搜索插件
Name[zh_TW]=Akonadi Baloo 搜尋外掛程式
X-Akonadi-Library=akonadi_baloo_searchplugin
X-Akonadi-ClassName=SearchPlugin
X-Akonadi-LoadByDefault=true
