[Desktop Entry]
Exec=kcmshell4 kcm_baloofile
Icon=baloo
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_baloofile
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=workspace-appearance-and-behavior

Name=Desktop Search
Name[bs]=Pretraga površi
Name[ca]=Cerca a l'escriptori
Name[cs]=Vyhledávací služby
Name[da]=Skrivebordssøgning
Name[de]=Desktop-Suche
Name[el]=Αναζήτηση στην επιφάνεια εργασίας
Name[es]=Búsqueda de escritorio
Name[fi]=Työpöytähaku
Name[fr]=Recherche sur le bureau
Name[hu]=Asztali keresés
Name[nds]=Schriefdischsöök
Name[nl]=Bureaublad-zoekopdracht
Name[pt]=Pesquisa no Ambiente de Trabalho
Name[pt_BR]=Pesquisa no desktop
Name[sk]=Hľadanie na ploche
Name[sl]=Namizno iskanje
Name[sr]=Претрага површи
Name[sr@ijekavian]=Претрага површи
Name[sr@ijekavianlatin]=Pretraga površi
Name[sr@latin]=Pretraga površi
Name[sv]=Skrivbordssökning
Name[uk]=Стільничний пошук
Name[x-test]=xxDesktop Searchxx
Comment=Configure Desktop Search
Comment[ca]=Configuració de la cerca a l'escriptori
Comment[cs]=Nastavit vyhledávací služby
Comment[de]=Desktop-Suche einrichten
Comment[hu]=Asztali keresés beállítása
Comment[nds]=Schriefdischsöök instellen
Comment[nl]=Bureaubladzoeken instellen... 
Comment[pt]=Configurar a Pesquisa no Ambiente de Trabalho
Comment[pt_BR]=Configurar a pesquisa no desktop
Comment[sk]=Nastaviť hľadanie na ploche
Comment[sl]=Nastavi Namizno iskanje
Comment[sr]=Подешавање претраге површи
Comment[sr@ijekavian]=Подешавање претраге површи
Comment[sr@ijekavianlatin]=Podešavanje pretrage površi
Comment[sr@latin]=Podešavanje pretrage površi
Comment[sv]=Anpassa skrivbordssökning
Comment[uk]=Налаштовування стільничного пошуку
Comment[x-test]=xxConfigure Desktop Searchxx
X-KDE-Keywords=Search, File, Baloo
X-KDE-Keywords[ca]=Cerca, Fitxer, Baloo
X-KDE-Keywords[cs]=Hledat, Soubor, Baloo
X-KDE-Keywords[de]=Suchen, Datei, Baloo
X-KDE-Keywords[hu]=Keresés, Fájl, Baloo
X-KDE-Keywords[nds]=Söök, Datei, Baloo
X-KDE-Keywords[nl]=Zoeken, bestand, Baloo
X-KDE-Keywords[pt]=Procurar, Ficheiro, Baloo
X-KDE-Keywords[pt_BR]=Pesquisar, Procurar, Arquivo, Baloo
X-KDE-Keywords[sk]=Hľadať, súbor, Baloo
X-KDE-Keywords[sl]=Iskanje, datoteka, Baloo
X-KDE-Keywords[sr]=search;file;baloo;претрага;фајл;Балу
X-KDE-Keywords[sr@ijekavian]=search;file;baloo;претрага;фајл;Балу
X-KDE-Keywords[sr@ijekavianlatin]=search;file;baloo;pretraga;fajl;Baloo
X-KDE-Keywords[sr@latin]=search;file;baloo;pretraga;fajl;Baloo
X-KDE-Keywords[sv]=Sök, Fil, Baloo
X-KDE-Keywords[uk]=Search,File,Baloo,пошук,файл
X-KDE-Keywords[x-test]=xxSearch, File, Balooxx
