[Desktop Entry]
Exec=kcmshell4 kcm_baloofile
Icon=edit-find
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_baloofile
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=desktop-search

Name=Desktop Search
Name[cs]=Vyhledávací služby
Name[da]=Skrivebordssøgning
Name[de]=Desktopsuche
Name[el]=Αναζήτηση στην επιφάνεια εργασίας
Name[es]=Búsqueda de escritorio
Name[fi]=Työpöytähaku
Name[fr]=Recherche sur le bureau
Name[nl]=Bureaublad-zoekopdracht
Name[pt]=Pesquisa no Ambiente de Trabalho
Name[pt_BR]=Pesquisa no desktop
Name[sk]=Hľadanie na ploche
Name[sl]=Namizno iskanje
Name[sr]=Претрага површи
Name[sr@ijekavian]=Претрага површи
Name[sr@ijekavianlatin]=Pretraga površi
Name[sr@latin]=Pretraga površi
Name[sv]=Skrivbordssökning
Name[uk]=Стільничний пошук
Name[x-test]=xxDesktop Searchxx
Comment=Desktop Search Configuration
Comment[cs]=Nastavení hledání na ploše
Comment[da]=Konfiguration af skrivebordssøgning
Comment[de]=Einrichtung der Desktopsuche
Comment[el]=Άρθρωμα διαμόρφωσης αναζήτησης επιφάνειας εργασίας
Comment[es]=Configuración de la búsqueda de escritorio
Comment[fi]=Työpöytähaun hallinta
Comment[fr]=Configuration de la recherche sur le bureau
Comment[nl]=Configuratie voor bureaubladzoeken
Comment[pt]=Configuração da Pesquisa no Ambiente de Trabalho
Comment[pt_BR]=Configuração da pesquisa no desktop
Comment[sk]=Nastavenie hľadania na ploche
Comment[sl]=Nastavitve za namizno iskanje
Comment[sr]=Подешавање претраге површи
Comment[sr@ijekavian]=Подешавање претраге површи
Comment[sr@ijekavianlatin]=Podešavanje pretrage površi
Comment[sr@latin]=Podešavanje pretrage površi
Comment[sv]=Inställning av skrivbordssökning
Comment[uk]=Налаштовування стільничного пошуку
Comment[x-test]=xxDesktop Search Configurationxx
X-KDE-Keywords=Search, File
X-KDE-Keywords[cs]=Hledat, Soubor
X-KDE-Keywords[da]=Søg, fil
X-KDE-Keywords[de]=Suchen, Datei
X-KDE-Keywords[el]=Αναζήτηση, Αρχείο
X-KDE-Keywords[es]=Buscar, archivo
X-KDE-Keywords[fi]=Search, File, haku, tiedosto
X-KDE-Keywords[fr]=Chercher, classer
X-KDE-Keywords[nl]=Zoeken, bestand
X-KDE-Keywords[pt]=Procurar, Ficheiro
X-KDE-Keywords[pt_BR]=Pesquisar, Procurar, Arquivo
X-KDE-Keywords[sk]=Hľadať, súbor
X-KDE-Keywords[sl]=Iskanje, datoteka
X-KDE-Keywords[sr]=search;file;претрага;фајл
X-KDE-Keywords[sr@ijekavian]=search;file;претрага;фајл
X-KDE-Keywords[sr@ijekavianlatin]=search;file;pretraga;fajl
X-KDE-Keywords[sr@latin]=search;file;pretraga;fajl
X-KDE-Keywords[sv]=Sök, Fil
X-KDE-Keywords[uk]=Search,File,пошук,файл
X-KDE-Keywords[x-test]=xxSearch, Filexx
