[Desktop Entry]
Exec=kcmshell4 kcm_baloofile
Icon=edit-find
Type=Service

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_baloofile
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=desktop-search

Name=Desktop Search
Comment=Desktop Search Configuration
X-KDE-Keywords=Search, File
