[Desktop Entry]
Type=AkonadiSearchPlugin
Name=Akonadi Baloo Search Plugin
X-Akonadi-Library=akonadi_baloo_searchplugin
X-Akonadi-ClassName=SearchPlugin
