[Desktop Entry]
Name=Akonadi Baloo Indexing Agent
Name[de]=Akonadi-Indizierungsagent für Baloo
Name[pt]=Agente de Indexação do Baloo no Akonadi
Name[pt_BR]=Agente de Indexação do Baloo no Akonadi
Name[uk]=Агент індексування Baloo для Akonadi
Name[x-test]=xxAkonadi Baloo Indexing Agentxx

Type=AkonadiAgent
Exec=akonadi_baloo_indexer
Icon=nepomuk

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_baloo_indexer
