[Desktop Entry]
Name=Akonadi Baloo Indexing Agent
Name[bs]=Akonadi Baloo agent za indeksiranje
Name[ca]=Agent d'indexació Baloo de l'Akonadi
Name[da]=Baloo indekseringsagent til Akonadi
Name[de]=Akonadi-Indizierungsagent für Baloo
Name[el]=Πράκτορας δεικτοδότησης Baloo Akonadi
Name[es]=Agente de indexación Baloo de Akonadi
Name[fi]=Akonadin Baloo-indeksointiagentti
Name[fr]=Agent d'indexation Baloo de Akonadi
Name[hu]=Akonadi Baloo indexelő ügynök
Name[nds]=Akonadi-Baloo-Indizeerhölper
Name[nl]=Akonadi-agent voor Baloo indexering
Name[pt]=Agente de Indexação do Baloo no Akonadi
Name[pt_BR]=Agente de Indexação do Baloo no Akonadi
Name[sk]=Agent indexovania Akonadi Baloo
Name[sl]=Akonadijev posrednik za izgrajevanje kazal, Baloo
Name[sr]=Балуов агент индексирања над Аконадијем
Name[sr@ijekavian]=Балуов агент индексирања над Аконадијем
Name[sr@ijekavianlatin]=Balooov agent indeksiranja nad Akonadijem
Name[sr@latin]=Balooov agent indeksiranja nad Akonadijem
Name[sv]=Akonadi Baloo-indexeringsmodul
Name[uk]=Агент індексування Baloo для Akonadi
Name[x-test]=xxAkonadi Baloo Indexing Agentxx
Name[zh_TW]=Akonadi Baloo 索引代理程式

Type=AkonadiAgent
Exec=akonadi_baloo_indexer
Icon=nepomuk

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_baloo_indexer
