[Desktop Entry]
Type=Service
Exec=baloo_file
X-KDE-StartupNotify=false
X-KDE-autostart-condition=baloofilerc:Basic Settings:Enabled:true
X-KDE-autostart-phase=0
X-GNOME-Autostart-enabled=true
OnlyShowIn=KDE;GNOME;Unity;XFCE
NoDisplay=true

Name=Baloo File Daemon
Name[ca]=Dimoni de fitxers Baloo
Name[es]=Demonio de archivos de Baloo
Name[fi]=Baloo-tiedostopalvelu
Name[fr]=Démon de fichier Baloo
Name[nb]=Baloo fil-daemon
Name[nl]=Baloo bestandsdeamon
Name[pl]=Usługa plików Baloo
Name[pt]=Serviço de Ficheiros do Baloo
Name[pt_BR]=Serviço de arquivos do Baloo
Name[sk]=Súborový démon Baloo
Name[sr]=Демон Балуа
Name[sr@ijekavian]=Демон Балуа
Name[sr@ijekavianlatin]=Demon Balooa
Name[sr@latin]=Demon Balooa
Name[sv]=Baloo-fildemon
Name[uk]=Фонова служба обробки файлів Baloo
Name[x-test]=xxBaloo File Daemonxx
