[Desktop Entry]
Type=Service
Icon=baloo
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kded_baloosearch_kio
X-KDE-DBus-ModuleName=baloosearch_kio
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=Search Folder Updater
Name[ca]=Actualitzador de les carpetes de cerca
Name[da]=Opdatering af søgemappe
Name[de]=Suchordner-Aktualisierung
Name[en_GB]=Search Folder Updater
Name[es]=Actualizador de la carpeta de búsquedas
Name[hu]=Keresésfrissítő
Name[nb]=Søkemappe-oppdatering
Name[nds]=Söökorner-Opfrischen
Name[nl]=Bijwerker van map zoeken
Name[pl]=Uaktualnianie katalogu wyszukiwania
Name[pt]=Actualização das Pastas de Pesquisa
Name[pt_BR]=Atualização das pastas de pesquisa
Name[sk]=Aktualizátor priečinkov hľadania
Name[sl]=Posodobilnik iskalnih map
Name[sr]=Освеживач фасцикла претраге
Name[sr@ijekavian]=Освеживач фасцикла претраге
Name[sr@ijekavianlatin]=Osveživač fascikla pretrage
Name[sr@latin]=Osveživač fascikla pretrage
Name[sv]=Uppdateringsverktyg för sökkataloger
Name[uk]=Засіб оновлення тек пошуку
Name[x-test]=xxSearch Folder Updaterxx
Name[zh_TW]=搜尋資料夾更新器
Comment=Allows automatic updates of Search Folders
Comment[ca]=Permet l'actualització automàtica de les carpetes de cerca
Comment[da]=Tillad automatisk opdatering af søgemapper
Comment[de]=Ermöglicht die automatische Aktualisierung von Suchordnern
Comment[en_GB]=Allows automatic updates of Search Folders
Comment[es]=Permite actualizaciones automáticas de las carpetas de búsqueda
Comment[hu]=Lehetővé teszi a keresési mappák automatikus frissítését
Comment[nb]=Tillater automatisk oppdatering av søkemapper
Comment[nds]=Frischt Söökornern automaatsch op
Comment[nl]=Staat automatisch bijwerken van zoekmappen toe
Comment[pl]=Umożliwia samoczynne uaktualnienia katalogów wyszukiwania
Comment[pt]=Permite as actualizações automáticas das Pastas de Pesquisa
Comment[pt_BR]=Permite as atualizações automáticas das pastas de pesquisa
Comment[sk]=Umožní automatické aktualizácie priečinkov hľadania
Comment[sl]=Omogoča samodejno posodabljanje iskalnih map
Comment[sr]=Омогућава аутоматско ажурирање фасцикла претраге
Comment[sr@ijekavian]=Омогућава аутоматско ажурирање фасцикла претраге
Comment[sr@ijekavianlatin]=Omogućava automatsko ažuriranje fascikla pretrage
Comment[sr@latin]=Omogućava automatsko ažuriranje fascikla pretrage
Comment[sv]=Tillåter automatisk uppdatering av sökkataloger
Comment[uk]=Надає змогу автоматично оновлювати теки пошуку
Comment[x-test]=xxAllows automatic updates of Search Foldersxx
Comment[zh_TW]=允許自動更新搜尋資料夾
