[Desktop Entry]
Type=Service
Icon=baloo
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kded_baloosearch_kio
X-KDE-DBus-ModuleName=baloosearch_kio
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=Search Folder Updater
Name[ca]=Actualitzador de les carpetes de cerca
Name[en_GB]=Search Folder Updater
Name[hu]=Keresésfrissítő
Name[nl]=Bijwerker van map zoeken
Name[pt]=Actualização das Pastas de Pesquisa
Name[pt_BR]=Atualização das pastas de pesquisa
Name[sk]=Aktualizátor priečinkov hľadania
Name[sv]=Uppdateringsverktyg för sökkataloger
Name[uk]=Засіб оновлення тек пошуку
Name[x-test]=xxSearch Folder Updaterxx
Comment=Allows automatic updates of Search Folders
Comment[ca]=Permet l'actualització automàtica de les carpetes de cerca
Comment[en_GB]=Allows automatic updates of Search Folders
Comment[hu]=Lehetővé teszi a keresési mappák automatikus frissítését
Comment[nl]=Staat automatisch bijwerken van zoekmappen toe
Comment[pt]=Permite as actualizações automáticas das Pastas de Pesquisa
Comment[pt_BR]=Permite as atualizações automáticas das pastas de pesquisa
Comment[sk]=Umožní automatické aktualizácie priečinkov hľadania
Comment[sv]=Tillåter automatisk uppdatering av sökkataloger
Comment[uk]=Надає змогу автоматично оновлювати теки пошуку
Comment[x-test]=xxAllows automatic updates of Search Foldersxx
